<?xml version='1.0' encoding='utf-8'?>
<widget id="com.homelink.covid19" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>covid-19</name>
    <description>
        A simple Covid-19 (Corona Virus) tracker for India
    </description>
    <author email="niladri.sadhukhan@gmail.com" href="https://covid-19report.info">
        homelink s/w
    </author>
  <content src="index.html" />
<platform name="android">
    <preference name="AndroidLaunchMode" value="singleTop"/>
    <preference name="android-minSdkVersion" value="26" />
    <icon src="www/res/icon/android/corona-icon.png" />
    <icon src="www/res/icon/android/corona-icon.png" density="ldpi" />
    <icon src="www/res/icon/android/corona-icon.png" density="mdpi" />
    <icon src="www/res/icon/android/corona-icon.png" density="hdpi" />
    <icon src="www/res/icon/android/corona-icon.png" density="xhdpi" />
</platform>
    <preference name="KeepRunning" value="false"/>
    <preference name="LoadUrlTimeoutValue" value="10000"/>
    <preference name="InAppBrowserStorageEnabled" value="true"/>
    <preference name="LoadingDialog" value="My Title,My Message"/>
    <preference name="ErrorUrl" value="myErrorPage.html"/>
    <preference name="ShowTitle" value="true"/>
    <preference name="LogLevel" value="VERBOSE"/>
    <preference name="AndroidLaunchMode" value="singleTop"/>
    <preference name="DefaultVolumeStream" value="call" />
    <preference name="OverrideUserAgent" value="Mozilla/5.0 My Browser" />
    <preference name="AppendUserAgent" value="My Browser" />    
  <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
  <allow-navigation href="*" />    
  <!-- Enable requests to content: URLs -->
  <access origin="content:///*" />    
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
      <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />
  </platform>
</widget>
